/Address.class
/LoginController.class
/Menu.class
/Reservation.class
/ReservationController.class
/User.class
/UserController.class
/Vaccine.class
/VaxName.class
/VaxTodo.class
/Visitor.class
/VisitorController.class
/WorkingDay.class
/testVisiteur.class
